<div class="card mt-5">
    <div class="card-body">
      <form #productForm="ngForm"  (ngSubmit)="onSubmit(productForm)">
          <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">
        <div class="form-group">
            <input type="text"
            class="form-control"
            name="name"
            #name="ngModel"
            [(ngModel)]="productService.selectedProduct.name"
            placeholder="Agregar tecnica "
            >
        </div>

        <div class="form-group">
                <input type="text"
                class="form-control"
                name="description"
                #description="ngModel"
                [(ngModel)]="productService.selectedProduct.description"
                placeholder="Agregar Descripcion "
                >
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-plus-circle"></i> Anadir Tecnica
                </button>
                <button class="btn btn-secondary" type="reset" (click)="resetForm(productForm)"> 
                    <i class="fas fa-sync-alt"></i>Reset
                </button>
            </div>
      </form>  
    </div>
</div>