<div class="card">
    <div class="card-body">
        <h6 class="text-center">Lista de Tecnicas</h6>
        <table class="table table-sm table-hover">
            <tbody>
                <tr *ngFor="let product of productList">
                <td>{{product.name}}</td>    
                <td>{{product.description}}</td>    
                <td>
                    <a class="btn btn-secondary text-white" (click)="onEdit(product)">
                        <i class="far fa-edit"></i>
                    </a>
                    <a class="btn btn-danger text-white" (click)="onDelete(product.$key)">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>